*{
    margin: 0;
    padding: 0;

}
.topbar{
    background-color:#80DEEA !important;
    font-weight: bolder;
    
}
.topbarimg{
    width: 55px;

}
.hometext{
    background-color:#E0F7FA ;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.topimg{
    width: 30px !important;
    color: green;
}
.slider{
    size: 200px !important;
}
.logotext{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: larger;
}
.footimg{
  font-size: larger;

    width: 40px !important;
    color: white;
}
.grey{
    font-size: 30px;
    color: ivory;
    display: flex;
    flex-direction: row;
    display: block;
    
    
}

.procrd{
    border: #80DEEA solid !important;
  


}
.card mb-4 , .card-body , .col-md-8{
    background-color: #80DEEA !important;
    color: green;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 30px;
    display:none;
    width: 50px;
    height: 50px;
    background-color: #80DEEA !important;
    
}
